{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<link rel="stylesheet" href="{% static 'styles/style.css' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/post/">Post</a>
        <a href="/cadastro/">Cadastro</a>
        <a href="#">Login</a>
    </nav>
    {% block content %}

    {% endblock %}
</body>

</html>